body {
  animation: blinking-background 3s infinite;
}

p {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 40px;
  color: white;
}
button {

  position: absolute;
  cursor: pointer;
  /* position: absolute;
>>>>>>> adjusted styles
  left: 800px;
  top: 100px; */
  border-radius: 50%;
  width: 300px;
  height: 300px;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: bold;
}
button:active {
  outline: none;
  background-color: grey;
}
button:hover {
  color: red;
}


img {
  border: 10pt transparent solid;
}
img:hover {
  border: solid 10pt;
  border-image: conic-gradient(red, orange, yellow, green, blue, indigo, violet, red) 1;
  cursor: url("https://img.icons8.com/color/48/000000/trollface.png"), auto;
}

h1 {
  font-family: fantasy;
  font-size: 60px;
  color: orange;
}
h2 {
  font-family: fantasy;
  font-size: 40px;
  color: orange;
}
h3 {
  font-family: fantasy;
  font-size: 30px;
  color: orange;
}
/* @keyframes blinking-background {
  0%, 49% {
    background-color: blue;

  }
  50%, 100% {
    background-color: purple;

  }
} */
body {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  text-align: center;
}

div.song > p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    color: white;
    text-align: center;
}
