body {
  animation: blinking-background 1s infinite;
}
p {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 40px;
  color: white;
}

img {
  border: 10pt transparent solid;
}
img:hover {
  border: solid 10pt;
  border-image: conic-gradient(red, orange, yellow, green, blue, indigo, violet, red) 1;
}

h1 {
  font-family: fantasy;
  font-size: 60px;
  color: orange;
}
h2 {
  font-family: fantasy;
  font-size: 40px;
  color: orange;
}
h3 {
  font-family: fantasy;
  font-size: 30px;
  color: orange;
}
@keyframes blinking-background {
  0%, 49% {
    background-color: blue;

  }
  50%, 100% {
    background-color: purple;

  }
}
